.wishlist__list {
    margin: 0 auto;
    max-width: 590px;
}

.wishlist-item {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 15px;
    height: auto;
    width: 100%;
    background: #FFFFFF;
}

.wishlist-item__text {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin-right: 20px;
}

.wishlist-item__text-edit {
    height: 100%;
    outline: none;
}


.wishlist-item:not(:last-child) {
    margin: 0 0 20px 0;
}

.wishlist-item__dropdown {
    margin-right: 10px;
}